schemas/article_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Article Schema XSD
  This schema ensures the structure of an educational article.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="xs:string"/>
        <xs:element name="abstract" type="xs:string"/>
        
        <xs:element name="sections">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="section" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="paragraph" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="references">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
