schemas/question_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Question Schema XSD
  This schema enforces the rules for the question bank XML.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="questionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="text" type="xs:string"/>
              <xs:element name="options">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="option" minOccurs="3" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="subject" type="xs:string" use="required"/>
            <xs:attribute name="difficulty" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
